@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../../public/font/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../public/font/Montserrat/static/Montserrat-Regular.ttf);
  font-family: "Montserrat-Light";
  src: url(../../public//font//Montserrat//static//Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../../public//font//Montserrat//static//Montserrat-Medium.ttf);
}

.contact {
  padding: 60px 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.contact h2 {
  font-family: "Montserrat-Regular";
  color: #6b6b6b;
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact p {
  font-family: "Montserrat-Medium";
  color: #6b6b6b;
  margin-bottom: 40px;
  font-size: 1.25rem;
}

.contactInfo {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 10px;
  font-family: "Montserrat-SemiBold";
}

.owner {
  font-size: 1.25rem;
  color: #666666;
  margin-bottom: 20px;
  font-family: "Montserrat-Medium";
}

.address {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 20px;
  font-family: "Montserrat-Light";
}

.contactDetails {
  font-size: 1rem;
  color: #333333;
  font-family: "Montserrat-Light";
}

.label {
  font-weight: bold;
  padding: 10px;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-family: "Montserrat-Light";
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contactInfo {
    padding: 20px 10px;
  }

  .title {
    font-size: 1.75rem;
  }

  .owner,
  .address,
  .contactDetails {
    font-size: 0.875rem;
  }
}
